footer {
    width: 100%;
    height: 150px;
    background-color: $bg;
    bottom: 0;
    margin: 0;
    padding: 35px 0 0 0;
    position: relative;
    border-top: 1px solid $dourado;

    +below($tablet) {
        height: auto;
        padding: 25px 0;
    }

    .center {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        +mobile() {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        .link-home {
            width: auto;
            transition: 0.2s ease-in-out;

            +below($tablet) {
                margin: 0 20px 0 0;
            }

            +mobile() {
                margin: 0 0 10px 0;
            }

            .img-logo {
                width: auto;
                max-width: 190px;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    max-width: 150px;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }

        article.informacoes {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-right: 80px;

            +below($tablet) {
                margin-right: 50px;
            }

            +mobile() {
                width: 100%;
                align-items: center;
                margin-right: 0;
                margin-bottom: 20px;
            }

            .contatos {
                width: auto;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                margin-bottom: 10px;

                .telefones {
                    margin-right: 80px;

                    +below($tablet) {
                        margin-right: 60px;
                    }

                    +mobile() {
                        margin-right: 30px;
                    }

                    .link-telefone, .link-wpp {
                        display: block;
                        notosans(12, light);
                        color: $preto;
                        margin: 0 0 5px 0;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            font-size: 10px;
                            margin: 0 0 3px 0;
                        }

                        &:hover {
                            color: $dourado;
                        }
                    }
                }

                .instagram {
                    width: auto;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    notosans(12, light);
                    color: $preto;
                    margin: 0;
                    padding: 0 0 0 20px;
                    background: $img('ico-instagram-preto.svg') no-repeat 0 / 16px $bg;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: $dourado;
                        background: $img('ico-instagram-dourado.svg') no-repeat 0 / 16px $bg;
                    }

                    +below($tablet) {
                        font-size: 10px;
                        padding: 0 0 0 15px;
                        background: $img('ico-instagram-preto.svg') no-repeat 0 / 13px $bg;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            color: $dourado;
                            background: $img('ico-instagram-dourado.svg') no-repeat 0 / 13px $bg;
                        }
                    }
                }
            }

            .endereco {
                width: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                +below($tablet) {
                    flex-wrap: wrap;
                }

                +mobile() {
                    justify-content: center;
                }

                > p {
                    notosans(12, light);
                    color: $preto;
                    margin: 0;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }

                > span {
                    notosans(12, light);
                    color: $preto;
                    margin: 0 4px;

                    +below($tablet) {
                        font-size: 10px;
                    }
                }
            }

            .link-politica {
                notosans(12, light);
                color: $preto;
                margin: 5px 0 0 0;
                transition: 0.2s ease-in-out;

                +below($tablet) {
                    font-size: 10px;
                }

                +mobile() {
                    margin: 10px 0 0 0;
                }

                &:hover, &.active {
                    color: $dourado;
                }
            }
        }

        article.menu {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-right: 80px;

            +below($tablet) {
                margin-right: 50px;
            }

            +mobile() {
                align-items: center;
                margin-right: 0;
                margin-bottom: 20px;
            }

            .link-footer {
                display: block;
                montserrat(12, light);
                color: $preto;
                margin: 2px 0;
                transition: 0.2s ease-in-out;

                +below($tablet) {
                    font-size: 10px;
                }

                &:hover, &.active {
                    color: $dourado;
                }
            }
        }

        article.copyright {
            width: 165px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            +below($tablet) {
                width: 130px;
            }

            +mobile() {
                align-items: center;
            }

            .dados {
                display: block;
                notosans(9, light);
                color: $preto;
                text-transform: uppercase;
                margin: 0;

                +below($tablet) {
                    font-size: 8px;
                }
            }

            .direitos {
                display: block;
                notosans(9, light);
                color: $preto;
                margin: 0 0 15px 0;

                +below($tablet) {
                    font-size: 8px;
                    margin: 0 0 10px 0;
                }
            }

            .link-trupe {
                display: block;
                notosans(9, light);
                color: $preto;
                margin: 0;
                line-height: 1.5;
                transition: 0.2s ease-in-out;

                +below($tablet) {
                    font-size: 8px;
                }

                &:hover {
                    color: $dourado;
                }
            }
        }
    }
}