header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: $preto;
    z-index: 1;

    +mobile() {
        height: 80px;
    }

    .center {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link-home {
            width: auto;
            transition: 0.2s ease-in-out;

            .img-logo {
                width: 280px;
                height: auto;
                object-fit: contain;

                +below($tablet) {
                    width: 250px;
                }

                +mobile() {
                    width: 200px;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }

        nav {
            width: auto;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            +mobile() {
                position: absolute;
                display: none;
                background-color: $preto;
                width: 100%;
                left: 0;
                height: auto;
                top: 80px;
                padding: 20px 0;
                z-index: 999;
            }

            .link-nav {
                montserrat(13, medium);
                color: $branco;
                margin: 0 30px;
                transition: 0.2s ease-in-out;

                +below($tablet) {
                    font-size: 12px;
                    margin: 0 20px;
                }

                +mobile() {
                    display: block;
                    margin: 10px 5%;
                    text-align: right;
                }

                &:hover, &.active {
                    color: $dourado;
                }
            }

            .instagram {
                width: 18px;
                height: 18px;
                margin: 0 30px;
                background: $img('ico-instagram.svg') no-repeat center / 16px transparent;
                transition: all 0.2s ease-in-out;

                +below($tablet) {
                    margin: 0 20px;
                }

                &:hover {
                    color: $dourado;
                    background: $img('ico-instagram-dourado.svg') no-repeat center / 16px transparent;
                }

                +mobile() {
                    display: block;
                    width: 100%;
                    margin: 0;
                    background: $img('ico-instagram.svg') no-repeat 95% / 16px transparent;

                    &:hover {
                        color: $dourado;
                        background: $img('ico-instagram-dourado.svg') no-repeat 95% / 16px transparent;
                    }
                }
            }

            .idiomas {
                width: auto;
                height: auto;
                margin: 0 0 0 30px;

                +below($tablet) {
                    margin: 0 0 3px 20px;
                }

                +mobile() {
                    display: block;
                    margin: 10px 5%;
                    text-align: right;
                }

                .lang-active {
                    montserrat(13, medium);
                    color: $branco;
                    margin: 0;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        font-size: 12px;
                    }

                    &:hover {
                        color: $dourado;
                    }
                }

                .submenu-lang {
                    width: auto;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 60px;
                    right: -30px;

                    +mobile() {
                        top: unset;
                        bottom: 20px;
                        right: 50px;
                    }

                    .link-lang {
                        width: 100%;
                        montserrat(12, medium);
                        color: $branco;
                        margin: 0;
                        padding: 0 10px;
                        transition: 0.2s ease-in-out;

                        +below($tablet) {
                            font-size: 10px;
                        }

                        &:first-child {
                            border-right: 1px solid $dourado;
                        }

                        &:hover {
                            color: $dourado;
                        }
                    }
                }
            }
        }
    }

    &.header-home {
        width: 100%;
        position: absolute;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);

        .center {
            nav {
                +mobile() {
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }
        }
    }
}

#mobile-toggle {
    +above($mobile) {
        display: none;
    }

    display: block;
    background-color: transparent;
    border: 0;
    position: absolute;
    width: 28px;
    outline: 0;
    padding: 0;
    cursor: pointer;
    margin: 0;
    right: 5%;
    top: 80px;

    +mobile() {
        top: 40px;
        width: 24px;
    }

    .lines {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #FFF;
        position: relative;
        transition: 0.3s ease;
        border-radius: 3px;

        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #FFF;
            transition: 0.3s ease;
            border-radius: 3px;
        }

        &.internas {
            background-color: #FFF;

            &:before, &:after {
                background-color: #FFF;
            }
        }

        &:before {
            top: 7px;
        }

        &:after {
            top: -7px;
        }
    }

    &.close {
        .lines {
            display: block;
            background: transparent;
            z-index: 9999;

            &:before, &:after {
                transform-origin: 50% 50%;
                background-color: #FFF;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }

        .lines-home {
            background: transparent;

            &:before, &:after {
                transform-origin: 50% 50%;
                top: 0;
            }

            &:before {
                transform: rotate3d(0, 0, 1, 45deg);
            }

            &:after {
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}
