html, body {
    height: 100%;
    font-family: 'Noto Sans JP', 'Montserrat', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: $bg;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    main {
        width: 100%;
        height: auto;
        background-color: $bg;
        padding: 60px 0 100px 0;
        min-height: calc('100% - 100px - 150px');

        +below($tablet) {
            min-height: calc('100% - 100px - 130px');
            padding: 40px 0 60px 0;
        }

        +mobile() {
            min-height: calc('100% - 80px - 350px');
        }
    }
}

.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    padding: 30px;

    +mobile() {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .frase-cookies {
        width: 65%;
        notosans(14);
        color: $branco;
        margin: 0;

        .link-politica {
            text-decoration: underline;

            &:hover, &:focus {
                font-weight: bold;
            }
        }

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
        }
    }

    .aceitar-cookies {
        width: 15%;
        height: 40px;
        notosans(14);
        color: $branco;
        background-color: transparent;
        border: 1px solid $branco;
        border-radius: 0;
        margin-left: 30px;
        cursor: pointer;
        outline: none;

        &:hover {
            border: 1px solid $dourado;
            background-color: $dourado;
        }

        +below($tablet) {
            font-size: 12px;
            height: 30px;
        }

        +mobile() {
            width: 100%;
            text-align: center;
            margin-left: 0;
            margin-top: 10px;
        }
    }
}

.fancybox-overlay {
    background: rgba(0, 0, 0, 0.8) !important;
}

.fancybox-nav {
    > span {
        visibility: hidden !important;
    }
}





























''