desktop-base-width = 1300px;
rupture.medium-cutoff = $medium = 1300px;
rupture.tablet-cutoff = $tablet = 1200px;
rupture.mobile-cutoff = $mobile = 768px;
rupture.anti-overlap = -1px;

$vermelhoError = #E02227;
$verdeSuccess = #2caf2c;
$preto = #000;
$branco = #FFF;
$dourado = #A69261;
$bg = #EEEBE2;
$borda = #DFDDD8;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&family=Noto+Sans+JP:wght@100;300;400&display=swap');

notosans($size, $weight = normal) {
    font-family: 'Noto Sans JP', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }
}

montserrat($size, $weight = normal) {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-size: $size px;
    font-weight: 400;

    if ($weight == thin) {
        font-weight: 100;
    }

    if ($weight == light) {
        font-weight: 300;
    }

    if ($weight == medium) {
        font-weight: 500;
    }
}