main.clipping {
    .center {
        width: 95%;
        max-width: 1630px;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 50px;

        +below($tablet) {
            max-width: 95%;
            margin-bottom: 40px;
        }

        +mobile() {
            width: 80%;
            max-width: 80%;
        }

        .masonry-grid-column {
            margin: 0 20px 0 0;
        }

        .masonry-grid-item {
            width: calc('(100% - 80px) / 5');
            max-width: 310px;
            height: auto;
            transition: 0.5s ease-in-out;

            +below($tablet) {
                max-width: calc('(100% - 80px) / 5');
            }

            +mobile() {
                width: 100%;
                max-width: 100%;
            }

            .img-capa {
                width: 100%;
                height: auto;
                object-fit: contain;
                margin: 0 0 20px 0;
            }

            iframe {
                width: 100%;
                height: 170px;
                border: none;
                margin: 0 0 20px 0;

                +below($tablet) {
                    height: 100px;
                }

                +mobile() {
                    height: 180px;
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .link-ver-mais-clipping {
        width: 100px;
        margin: 0 calc('(100% - 100px) / 2');
        montserrat(14);
        font-weight: 600;
        color: $preto;
        transition: 0.3s ease-in-out;

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: auto;
            margin: 0 41%;
        }

        &:hover {
            color: $dourado;
        }
    }
}