main.clipping-show {
    .center {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 50px;

        +below($tablet) {
            margin-bottom: 40px;
        }

        .img-clipping {
            width: auto;
            max-width: 1200px;
            height: 800px;
            object-fit: cover;
            margin: 0 10px 20px 10px;

            +below($tablet) {
                max-width: 100%;
                height: 600px;
            }

            +mobile() {
                height: auto;
            }
        }
    }

    .link-voltar-clipping {
        width: 100px;
        margin: 0 calc('(100% - 100px) / 2');
        montserrat(14);
        font-weight: 600;
        color: $preto;
        transition: 0.3s ease-in-out;

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: auto;
            margin: 0 43%;
        }

        &:hover {
            color: $dourado;
        }
    }
}