main.contato {
    padding-bottom: 60px;

    .center {
        section.dados-form {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            padding-bottom: 40px;

            +below($tablet) {
                padding-bottom: 30px;
            }

            article.dados {
                width: auto;

                +mobile() {
                    width: 100%;
                    margin-bottom: 15px;
                }

                .link-telefone, .link-wpp {
                    display: block;
                    notosans(16, light);
                    color: $preto;
                    margin: 0 0 5px 0;
                    transition: 0.2s ease-in-out;

                    +below($tablet) {
                        font-size: 14px;
                    }

                    &:hover {
                        color: $dourado;
                    }
                }

                .link-instagram {
                    width: auto;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    notosans(12, light);
                    color: $preto;
                    margin: 15px 0 0 0;
                    padding: 0 0 0 20px;
                    background: $img('ico-instagram-preto.svg') no-repeat 0 / 16px $bg;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        color: $dourado;
                        background: $img('ico-instagram-dourado.svg') no-repeat 0 / 16px $bg;
                    }
                }
            }

            form.form-contato {
                width: 910px;
                height: auto;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;

                +below($tablet) {
                    width: 70%;
                }

                +mobile() {
                    width: 100%;
                    flex-direction: column;
                }

                .inputs {
                    width: 46%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    +mobile() {
                        width: 100%;
                    }

                    input[type=text], input[type=email] {
                        margin: 0 0 7px 0;
                        width: 100%;
                        height: 32px;
                        padding: 0 10px;
                        border: 2px solid $borda;
                        outline: none;
                        notosans(12, light);
                        color: $preto;
                        background-color: transparent;

                        +placeholder() {
                            color: $preto;
                        }

                        +below($tablet) {
                            margin: 0 0 5px 0;
                            height: 30px;
                            font-size: 10px;
                        }

                        &:hover, &:focus {
                            font-weight: 700;
                        }
                    }
                }

                textarea {
                    width: 45%;
                    height: 110px;
                    margin: 0 7px;
                    padding: 10px 10px;
                    border: 2px solid $borda;
                    outline: none;
                    resize: none;
                    notosans(12, light);
                    color: $preto;
                    background-color: transparent;

                    +placeholder() {
                        color: $preto;
                    }

                    +below($tablet) {
                        margin: 0 5px;
                        height: 100px;
                        font-size: 10px;
                    }

                    +mobile() {
                        width: 100%;
                        margin: 0 0 5px 0;
                    }

                    &:hover, &:focus {
                        font-weight: 700;
                    }
                }

                .btn-enviar {
                    width: 9%;
                    height: 110px;
                    background-color: transparent;
                    border: 2px solid $borda;
                    outline: none;
                    notosans(12);
                    font-weight: 600;
                    color: $preto;
                    cursor: pointer;
                    transition: 0.3s ease;

                    +below($tablet) {
                        height: 100px;
                        font-size: 10px;
                    }

                    +mobile() {
                        width: 100%;
                        height: 30px;
                    }

                    &:hover {
                        background-color: $borda;
                    }
                }
            }

            .flash {
                width: 910px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                notosans(12);
                padding: 5px 10px;
                margin: 0 0 0 auto;
                border-radius: 0;
                position: relative;

                +below($tablet) {
                    width: 70%;
                    font-size: 10px;
                }

                +mobile() {
                    width: 100%;
                    margin: 10px 0;
                }

                > p {
                    margin: 0;
                }

                &.flash-erro {
                    border: 2px solid $vermelhoError;
                    background: $vermelhoError;
                    color: $branco;
                }

                &.flash-sucesso {
                    border: 2px solid $verdeSuccess;
                    background: $verdeSuccess;
                    color: $branco;
                }
            }
        }

        section.endereco-mapa {
            width: 100%;
            height: auto;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 30px;

            +below($tablet) {
                margin-top: 20px;
            }

            +mobile() {
                flex-direction: column;
                align-items: flex-start;
            }

            article.endereco {
                width: calc('100% - 910px');
                notosans(14, light);
                color: $preto;
                padding: 20px;

                +below($tablet) {
                    width: 30%;
                    font-size: 12px;
                    padding: 15px;
                }

                +mobile() {
                    width: 100%;
                    padding: 15px 0;
                }

                > p {
                    margin: 0;
                    text-align: end;

                    > span {
                        margin: 0 5px;
                    }
                }
            }

            article.mapa {
                width: 910px;
                height: 400px;

                +below($tablet) {
                    width: 70%;
                    height: 350px;
                }

                +mobile() {
                    width: 100%;
                    height: 300px;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}