main.home {
    width: 100%;
    height: 100%;
    padding: 0;
    min-height: 100%;

    .banners {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: $bg;
        overflow-y: hidden;

        .banner {
            position: absolute;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
        }
    }
}