main.perfil {
    .center {
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;

        +mobile() {
            flex-direction: column;
            align-items: center;
        }

        article.left {
            width: 500px;
            height: auto;

            +below($tablet) {
                width: 40%;
            }

            +mobile() {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .img-perfil {
                width: 100%;
                height: auto;
                object-fit: cover;
                margin-bottom: 30px;

                +below($tablet) {
                    margin-bottom: 20px;
                }

                +mobile() {
                    width: 75%;
                }
            }

            .frase {
                width: 100%;
                montserrat(28, light);
                color: $dourado;

                +below($tablet) {
                    font-size: 20px;
                }

                +mobile() {
                    text-align: center;
                    font-size: 18px;
                }

                > p {
                    display: block;
                    margin: 0;
                    line-height: 1.4;
                }
            }
        }

        article.right {
            width: calc('100% - 500px');
            height: auto;
            padding: 0 50px;
            notosans(14, thin);
            color: $preto;

            +below($tablet) {
                width: 60%;
                padding: 0 40px;
                font-size: 12px;
            }

            +mobile() {
                width: 100%;
                padding: 30px 5% 0 5%;
            }

            > p {
                line-height: 2;
                margin: 0 0 30px 0;

                +below($tablet) {
                    line-height: 1.8;
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}