main.politica-de-privacidade {
    .center {
        h2.titulo {
            montserrat(24, medium);
            color: $preto;
            margin: 0 0 40px 0;

            +below($tablet) {
                font-size: 20px;
                margin: 0 0 30px 0;
            }

            +mobile() {
                font-size: 18px;
                margin: 0 0 25px 0;
            }
        }

        div.texto {
            notosans(14, light);
            color: $preto;

            +below($tablet) {
                font-size: 12px;
            }

            +mobile() {
                font-size: 11px;
            }

            > p {
                margin: 0 0 20px 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 0;
                }

                > a {
                    font-style: italic;

                    &:hover {
                        color: $dourado;
                    }
                }
            }

            > ul {
                list-style: disc;
                list-style-position: outside;
                margin: 0 0 20px 20px;
                padding-left: 0;
                line-height: 1.8;

                +below($tablet) {
                    margin: 0 0 15px 15px;
                }

                li {
                    line-height: 1.8;
                    margin: 0;
                }
            }
        }
    }
}