main.projetos {
    .center {
        width: 95%;
        max-width: 1630px;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 50px;

        +below($tablet) {
            max-width: 95%;
            margin-bottom: 40px;
        }

        +mobile() {
            width: 90%;
            max-width: 90%;
        }

        .link-projeto {
            width: calc('(100% - 80px) / 5');
            height: 250px;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(1);
            margin: 0 20px 20px 0;
            padding: 20px 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s ease-in-out;

            +below($tablet) {
                width: calc('(100% - 60px) / 4');
                height: 200px;
                padding: 2%;
            }

            +mobile() {
                margin: 0 0 20px 0;
                padding: 10%;
                width: 100%;
                height: 250px;
            }

            .titulo {
                visibility: hidden;
                width: 100%;
                montserrat(14);
                font-weight: 600;
                text-transform: uppercase;
                text-align: start;
                margin: 0;
                transition: 0.3s ease-in-out;

                +below($tablet) {
                    font-size: 13px;
                }

                +mobile() {
                    visibility: visible;
                }
            }

            &:hover {
                filter: grayscale(0);

                .titulo {
                    visibility: visible;
                }
            }
        }
    }

    .link-ver-mais-projetos {
        width: 100px;
        margin: 0 calc('(100% - 100px) / 2');
        montserrat(14);
        font-weight: 600;
        color: $preto;
        transition: 0.3s ease-in-out;

        +below($tablet) {
            font-size: 12px;
        }

        +mobile() {
            width: auto;
            margin: 0 41%;
        }

        &:hover {
            color: $dourado;
        }
    }
}