main.projetos-show {
    .center {
        width: 1365px;
        margin: 0 auto 0 calc('(100% - 1300px) / 2');
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;

        +below($tablet) {
            width: 95%;
            margin: 0 auto;
        }

        +mobile() {
            align-items: center;
            justify-content: center;
        }

        .dados {
            width: 400px;
            height: auto;
            margin-top: 25px;
            padding-right: 25px;

            +below($tablet) {
                width: 30%;
                margin-top: 20px;
                padding-right: 20px;
            }

            +mobile() {
                width: 100%;
                margin-top: 0;
                margin-bottom: 20px;
                padding: 0 30px;
            }

            .subtitulo {
                notosans(12, thin);
                color: $preto;
                margin: 20px 0 0 0;

                +below($tablet) {
                    font-size: 11px;
                    margin: 10px 0 0 0;
                }
            }

            .titulo {
                notosans(14, thin);
                color: $preto;
                text-transform: uppercase;
                margin: 0;

                +below($tablet) {
                    font-size: 12px;
                }
            }

            .descritivo {
                notosans(14, thin);
                color: $preto;

                +below($tablet) {
                    font-size: 12px;
                }

                > p {
                    margin: 0;
                }

                > ul {
                    margin: 0;
                    padding: 0;
                    list-style-position: inside;

                    > li {
                        line-height: 1.5;

                        &::marker {
                            content: '∙        ';
                        }
                    }
                }
            }
        }

        .link-imagem {
            width: auto;
            max-width: calc('100% - 400px');
            height: 650px;
            margin: 0 20px 20px 0;

            +below($tablet) {
                height: 500px;
                max-width: 70%;
            }

            +mobile() {
                max-width: 100%;
                height: 250px;
                margin: 0 auto 20px auto;
            }

            .img-projeto {
                width: auto;
                max-width: 975px;
                height: 100%;
                object-fit: cover;

                +below($tablet) {
                    max-width: 100%;
                }
            }
        }

        .btns-projeto-show {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            position: fixed;
            bottom: 60px;
            right: calc('(100% - 1365px) / 2');

            +below($tablet) {
                bottom: 40px;
                right: 5%;
            }

            +mobile() {
                bottom: 30px;
            }

            .link-topo, .link-proximo, .link-anterior {
                notosans(12, thin);
                color: $preto;
                margin: 15px 0;
                padding: 0 20px 0 0;
                transition: all 0.2s ease-in-out;

                +below($tablet) {
                    font-size: 11px;
                }

                +mobile() {
                    margin: 10px 0;
                    font-size: 10px;
                }
            }

            .link-topo {
                background: $img('seta-cima.svg') no-repeat 100% / 9px transparent;

                &:hover {
                    color: $dourado;
                    background: $img('seta-cima-dourado.svg') no-repeat 100% / 9px transparent;
                }
            }

            .link-proximo {
                background: $img('seta-direita.svg') no-repeat 100% / 13px transparent;

                &:hover {
                    color: $dourado;
                    background: $img('seta-direita-dourado.svg') no-repeat 100% / 13px transparent;
                }
            }

            .link-anterior {
                background: $img('seta-esquerda.svg') no-repeat 100% / 13px transparent;

                &:hover {
                    color: $dourado;
                    background: $img('seta-esquerda-dourado.svg') no-repeat 100% / 13px transparent;
                }
            }
        }
    }
}